* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.Container {
  display: grid;
  width: 100vw;
  height: 100vh;
  background-color: #f7f7f7;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}